body
{
    font-family: "Winky Sans", sans-serif;
    /* background-image: url("../images/cablage3.png");
    background-size: 100% auto; 
    background-repeat: repeat;   
}

.test
{
    opacity: 12%;
}